[defaults]
stdout_callback = yaml
timeout = 60
deprecation_warnings = False
host_key_checking = False
retry_files_enabled = False
inventory = /work/hosts

[ssh_connection]
ssh_args = -F /work/ssh_config